* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html {
   font-size: 14px;
 }
 
 body {
   background: #ffa754;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   max-width: 900px;
   margin: 0 auto;
 }
 
 header {
   padding: 1.5rem 1rem;
   background-image: url(img/header.jpeg);
   background-size: cover;
   background-position: center center;
   height: 25rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: flex-start;
   align-items: center;
 }
 
 header ul {
   display: flex;
   flex-direction: column;
 }
 
 header ul li {
   list-style: none;
   padding: 0.2rem 1rem;
 }
 
 a {
   text-decoration: none;
   color: black;
 }
 
 header a.cta {
   background: black;
   color: white;
   padding: 0.5rem 1.5rem;
 }
 
 h1,
 main h2 {
   padding: 1rem 0;
   color: white;
   font-size: 3rem;
   flex-basis: 100%;
   text-align: center;
   font-weight: 1000;
 }
 
 main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1rem 1.5rem;
 }
 
 #menuVacas nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 
 #menuVacas nav article {
   background: black;
   color: white;
   width: 15rem;
   margin: 1rem;
   box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
 }
 
 #menuVacas nav article ul {
   height: 100%;
   display: flex;
   flex-direction: column;
 }
 
 #menuVacas li:nth-last-child(2) {
   flex-grow: 1;
 }
 
 #menuVacas nav article img {
   width: 100%;
 }
 
 #menuVacas nav ul {
   list-style: none;
 }
 
 #menuVacas p {
   padding: 1rem;
 }
 
 #menuVacas .cta {
   display: block;
   text-align: center;
   padding: 1rem;
   background: lightgrey;
 }
 
 footer {
   background: white;
   padding: 1.5rem;
 }
 footer h2 {
   color: #ffa754;
   font-size: 2rem;
 }
 
 footer ul li {
   list-style: none;
   padding: 0.5rem;
   flex-basis: 50%;
 }
 
 footer ul {
   display: flex;
   flex-wrap: wrap;
   padding: 1rem 0;
 }
 
 footer li:nth-last-of-type(2),
 footer li:last-of-type {
   flex-basis: 100%;
 }
 
 footer label {
   display: block;
 }
 
 footer li#newsletter label {
   display: inline;
 }
 
 footer li#newsletter input {
   width: 2rem;
   height: 1rem;
 }
 
 footer textarea {
   width: 100%;
   height: 5rem;
   background: #ffa754;
 }
 
 footer input {
   background: #ffa754;
   width: 100%;
   height: 2rem;
 }
 
 footer select {
   width: 100%;
 }
 
 footer button {
   background: black;
   color: white;
   padding: 0.4rem 2rem;
   font-weight: bolder;
 }
 
 @media (min-width: 600px) {
   html {
     font-size: 16px;
   }
 
   header {
     flex-wrap: nowrap;
     align-items: baseline;
     justify-content: space-between;
   }
 
   header h1 {
     padding: 0;
   }
 
   header ul {
     flex-direction: row;
   }
 
   header nav {
     width: 70rem;
   }
 
   header nav:last-of-type {
     order: 1;
     text-align: right;
   }
 
   main h2 {
     text-align: left;
   }
 
   section#texto {
     columns: 2;
     column-gap: 1.5em;
   }
 }
 
 @media (width: 1000px) {
   html {
     font-size: 20px;
   }
 }
 