@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
/* /////// CLASES PREDEFINIDAS ////// */
 .centext {
  text-align: center;
}

p,
a,
input,
select,
option,
button {
  font-size: 2.5rem;
}
legend {
  font-size: 1.7rem;
  margin-bottom: .7rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60rem;
  height: 50rem;
  border-radius: 1.5rem;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  box-shadow: 0 4px 6px -10px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  color: white;
}
.slogan {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: lighter;
}
h1 {
  color: white;
}
#result {
  text-align: center;
  font-size: 4.5rem;
  color: white;
  padding-top: 1.5rem;
  background-color: rgb(2, 15, 134);
  opacity: 20%;
  height: 12rem;
}

form {
  display: grid;
  grid-template-rows: 40% 40% 20%;
  grid-template-columns: 50% 50%;
  height: 100%;
}
fieldset {
  border: none;
}
select, input {
  border: 0.15rem solid #6814CC;
  outline: none;
  border-radius: 1rem;
}
input {
  height: 60%;
}
input[placeholder] {
  text-align: center;
  font-size: 3rem;
}
.current-box {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.convert-box {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}
.ammount-box {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3; 
  height: 10rem; 
}
.current-box, .convert-box, .ammount-box {
  justify-self: center;
  align-self: center;
}
#number {
  margin: 0 auto;
}





#btn {
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: none;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  cursor: pointer;
}
#btn:hover {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}